/* Typography related styles */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-serif);
    color: var(--primary-color);
}

h1 {
    font-size: xx-large;
}

h2 {
    font-size: x-large;
}

header > h1 {
    font-size: xx-large;
    color: var(--accent-color);
}

p, ul, ol {
    line-height: 1.5;
    font-size: large;
    text-align: left;
}

.author-details > p {
    font-size: medium;
    margin-top: 2;
}
