/* Typography related styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-serif);
  color: var(--primary-color);
}

h1 {
  font-size: xx-large;
}

h2 {
  font-size: x-large;
}

header > h1 {
  font-size: xx-large;
  color: var(--accent-color);
}

p,
ul,
ol {
  line-height: 1.5;
  font-size: large;
  text-align: left;
}

ul {
  list-style: none;
}

ol {
  list-style: upper-roman;
}

.author-details > p {
  font-size: medium;
  margin: 2px;
}

.subscribe-card > h2 {
  font-size: 30px;
}

code {
  color: rgb(110, 137, 225);
  font-weight: bold;
  background-color: rgba(0, 0, 0, 1);
  padding: 0.3em;
  border-radius: 5px;
}

.attr {
  color: rgb(240, 156, 0);
}

.elem {
  color: var(--accent-color);
}

.text {
  color: white;
}
